.container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-top: 20px;
  /* width: calc(100% - 200px); */
}
.contain {
  margin-top: 20px;
  /* width: calc(100% - 200px); */
  margin-right: 120px;
  /* height: 800px; */
}

.card {
  width: 330px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.card img {
  width: 150px;
  height: 130px;
  border-radius: 3px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info div {
  color: grey;
  font-size: 0.9rem;
}
/* NoData.module.css */

.noData {
  text-align: center;
  color: #555;
  font-family: 'Arial', sans-serif;
  margin: 50px auto;
}

.noData h2 {
  font-size: 2rem;
  color: #ff6347; /* Tomato color */
  margin-bottom: 20px;
}

.noData p {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 15px;
}

.noData .image {
  max-width: 300px;
  margin-bottom: 20px;
}

.noData p:last-child {
  font-style: italic;
  color: #888;
}
/* Pagination Container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

/* Pagination Buttons */
.pagination button {
  background-color: #a62626;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Disabled Buttons */
.pagination button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

/* Hover Effect */
.pagination button:hover {
  background-color: #862020;
}

/* Page Number Text */
.pagination span {
  font-size: 16px;
  margin: 0 10px;
  color: #333;
}
